@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====================================
GLOBAL
==================================== */

html,
body,
#root {

  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 297mm;;

  background: #eef2ef;

  font-family:
    Inter,
    system-ui,
    sans-serif;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

/* ====================================
PDF PAGE
==================================== */

.pdf-page {

  width: 210mm;

  height: 297mm;

  background: white;

  margin: 0 auto;

  overflow: hidden;

  position: relative;

  page-break-after: always;

  page-break-inside: avoid;
}

/* ====================================
IMAGES
==================================== */

img {

  max-width: 100%;

  display: block;
}

/* ====================================
BUTTONS
==================================== */

button {

  border: none;

  outline: none;

  cursor: pointer;
}

/* ====================================
SCROLLBAR
==================================== */

::-webkit-scrollbar {

  width: 10px;
}

::-webkit-scrollbar-thumb {

  background: #14532d;

  border-radius: 20px;
}

::-webkit-scrollbar-track {

  background: #dfe7df;
}

/* ====================================
PRINT
==================================== */

@media print {

  html,
  body {

    width: 210mm;

    height: 297mm;

    background: white;
  }

  button {

    display: none !important;
  }

  .shadow-xl,
  .shadow-2xl {

    box-shadow: none !important;
  }

  .rounded-\[24px\],
  .rounded-\[30px\] {

    border-radius: 0 !important;
  }
}

/* ====================================
TEXT RENDERING
==================================== */

* {

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
}